.navbar-wrapper {
    width: 100%;
    background-color: white;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 100; /* por encima del menú */
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.menu-button {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
    width: auto;
}

.icons-container {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.bm-overlay.burger-overlay {
    background: rgba(0, 0, 0, 0.3) !important;
    z-index: 90 !important;
}
.sub-heading  {
    color: black;
    text-decoration: none;
}

.sub-heading a {
    color: black;
    text-decoration: none;
}

.sub-heading a:hover {
    text-decoration: underline;
}