#root {
  width: 100%;
  margin: 0;
  padding: 0;
}
.bm-menu-wrap {
  position: fixed !important;
  top: 0;
  right: 0;
  height: 100% !important;
  z-index: 9999 !important;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.4) !important;
  z-index: 999 !important;
}
/*

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/
/* Flechas de navegación */
.swiper-button-next,
.swiper-button-prev {
  color: white;
}

/* Puntos de paginación (bullets) */
.swiper-pagination-bullet {
  background: white;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background: white;
  opacity: 1;
}